body {
  font-family: "Trebuchet MS", "Oswald", Helvetica, Arial, Sans-serif;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

ul li {
  margin: 0 0 0.5em 0;
}

#app {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  top: 2%;
  width: 65%;
  padding: 3em;
  background-color: whitesmoke;
  color: grey;
  border-radius: 12px;
}

.modalText {
  margin: 1em 0 1em 0;
  font-size: 18px;
  line-height: 150%;
}

.flexOuterCenter,
.flexOuterColumn,
.flexEnd,
.flexStart,
.toggle,
.headband {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterColumn,
.headband, {
  flex-flow: column-wrap;
}

.flexEnd {
  justify-content: flex-end;
}

.flexStart,
.toggle {
  justify-content: flex-start;
}

.flexOuterColumn {
  width: 40%;
}

.headband,
.modalButton,
.toggle {
  background-color: gainsboro;
  border-radius: 12px;
  opacity: 0.7;
  margin: 2em 1em 1em 1em;
}

.x {
  font-size: 26px;
  border-radius:50%;
}

.x,
.close,
.closeHide,
.toggleHide,
.modalButton,
.showMore,
.toggle {
  cursor: pointer;
  padding: 0.25em;

}

.close,
.closeHide,
.toggleHide,
.showMore {
  padding: 0.75em;
  border-radius: 12px;
}

.x:hover,
.close:hover,
.closeHide:hover,
.toggleHide:hover,
.modalButton:hover,
.showMore:hover {
  background-color: grey;
  color: gainsboro;
}

.modalButton,
.toggle {
  padding: 1em;
  text-align: center;
  font-weight: 600;
}

.showMore {
  padding: 0 0.4em 0.5em 0.3em;
  color: black;
  opacity: 0.6;
  border: 1px solid black;
  margin-top: 1em;
}

.closeHide,
.toggleHide {
  padding: 0.4em;
  font-size: 14px;
}

.hiddenList,
.toggleTextP,
.toggleList {
  display: none;
}

.widthbox {
   background-image: url(../img/home.jpg);
   width: 930px;
   height: 1240px;
   position: static;
 }

 h1,h2 {
   text-align: center;
   font-weight: 300;
 }

 h1 {
   font-size: 48px;
   padding: 0;
   margin: 0.25em;
 }

 h2 {
   font-size: 36px;
   padding: 0;
   margin: 0.25em;
 }

 .toggle {
   font-size: 18px;
   margin-top: 1em;

 }

 .acronym,
 .emph {
   color: black;
   font-weight: 600;
 }

 .emph {
   opacity: 0.8;
   font-size: 20px;
 }
